<html>
<body style="background-color:#1a222c;">
<div class="header-icons">
    <a aria-label="My Blog" target="_blank" href="https://lampmanjosh.github.io/b/"><i class="icon fa fa-wordpress" aria-hidden="true"></i></a>
    <a aria-label="Acclaim" target="_blank" href="https://www.youracclaim.com/users/joshua-lampman/badges"><i class="icon fa fa-certificate" aria-hidden="true"></i></a>
    <a aria-label="Resume" target="_blank" href="https://www.google.com"><i class="icon fa fa-address-card" aria-hidden="true"></i></a>