<html>
<body style="background-color:#1a222c;">

</div>
    <section id="about">
        <div class="user-details">
  <h1> </h1>
  <p>My mission for 2020 is to continue to learn the world of Cyber Security, and to sharpen my pentesting methodologies in lab environments; Such as HTB, VulnHub, and my own local lab. </p>
    
  <p>My About Me, Blog, Acclaim, and Resumé.</p>
  

  


  <div class="header-icons">
    <a aria-label="AboutMe" target="_blank" href="https://lampmanjosh.github.io/b/about/index.html"><i class="icon fa fa-info-circle" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
    <a aria-label="My Blog" target="_blank" href="https://lampmanjosh.github.io/b/"><i class="icon fa fa-wordpress" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
    <a aria-label="Acclaim" target="_blank" href="https://www.youracclaim.com/users/joshua-lampman/badges"><i class="icon fa fa-angle-double-up" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
    <a aria-label="Resume" target="_blank" href="https://www.google.com"><i class="icon fa fa-address-card" aria-hidden="true"></i></a>
    
</div>
<hr>
</div>
<div class="user">
  <div class="tech">
    
  </div>
  <div class="tech">  
    <p><u></u></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

</div>
  <div class="tech">
  </section>

   